/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* Профиль */
.profile-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.profile-box {
    background: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(183, 27, 139, 0.459);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.username {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 20px;
}

.add-playlist-btn {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    background: linear-gradient(45deg, #FF2CDF, #0014FF);
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(183, 27, 139, 0.459);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.add-playlist-btn:hover {
    background: linear-gradient(45deg, #0014FF, #FF2CDF);
    transform: scale(1.05);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.playlist-list {
    list-style: none;
    padding: 0;
}

.playlist-list li {
    background: #2a2a2a;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    transition: background 0.3s;
}

.playlist-list li:hover {
    background: #333;
}

.playlist-list li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    transition: color 0.3s;
}

.playlist-list li a:hover {
    color: #FF2CDF;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: radial-gradient(ellipse at left center, rgba(56, 12, 83, 0.2), transparent 70%),
                radial-gradient(ellipse at right center, rgba(13, 28, 99, 0.2), transparent 70%);
    animation: floatSides 15s ease-in-out infinite;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    filter: blur(40px);
    pointer-events: none;
}

@keyframes floatSides {
    0% {
        background-position: left center, right center;
    }
    50% {
        background-position: left 20% center, right 80% center;
    }
    100% {
        background-position: left center, right center;
    }
}

/* Адаптивность */
@media (max-width: 768px) {
    .playlist-container {
        width: 95%;
    }

    .track-item {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        align-items: center;
        gap: 15px;
    }
}


